.home-page__bg {
  position: absolute;
  left: -100;
  right: -100;
  top: -100;
  bottom: 0;
  z-index: -1;
  animation: animatedBackground 15s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fef08a;
  opacity: 0.8;
  /* https://www.miriamsuzanne.com/2022/10/21/the-conic/ */
  --c1: #fef08a; /* color 1*/
  --c2: #4338ca; /* color 2*/
  --s: 50px; /* the size */

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}

@keyframes animatedBackground {
  0% {
    transform: perspective(200px) translate3d(0px, 0px, 0px);
  }

  33% {
    transform: perspective(200px) translate3d(-50px, 12px, 12px);
  }

  66% {
    transform: perspective(200px) translate3d(50px, -25px, 25px);
  }

  99% {
    transform: perspective(200px) translate3d(0px, 0px, 0px);
  }
}

@media (min-width: 768px) {
  .home-page__bg {
    position: absolute;
    left: -100;
    right: -100;
    top: -100;
    bottom: 0;
    z-index: -1;
    animation: animatedBackground 15s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef08a;
    opacity: 0.8;
    /* https://www.miriamsuzanne.com/2022/10/21/the-conic/ */
    --c1: #fef08a; /* color 1*/
    --c2: #4338ca; /* color 2*/
    --s: 150px; /* the size */

    --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%,
      var(--c2) 26% 35%, var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%,
      var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
    background: radial-gradient(50% 50% at 100% 0, var(--_g)),
      radial-gradient(50% 50% at 0 100%, var(--_g)),
      radial-gradient(50% 50%, var(--_g)),
      radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
        var(--c1);
    background-size: var(--s) var(--s);
  }

  @keyframes animatedBackground {
    0% {
      transform: perspective(500px) translate3d(0px, 0px, 0px);
    }

    33% {
      transform: perspective(500px) translate3d(-100px, 25px, 25px);
    }

    66% {
      transform: perspective(500px) translate3d(200px, -50px, 50px);
    }

    99% {
      transform: perspective(500px) translate3d(0px, 0px, 0px);
    }
  }
}
