body {
  background-color: #303446;
}
p {
  color: #c6d0f5;
}

.home-page__bg {
  background: linear-gradient(-45deg, #dc8a78, #8839ef, #fe640b, #7287fd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: absolute;
  left: 2;
  right: 2;
  top: 2;
  bottom: 2;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll-down {
  background: linear-gradient(-45deg, #dc8a78, #8839ef, #fe640b, #7287fd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
